@(appointmnets: Map[String, Appointment], paymentForm: Form[Payment], total: Long)

@import helper._
@import models._


@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }
@main("") {
    <h1>Cart: @total Items</h1>

    @if(total == 0) {

        <div class="well">
            <em>Nothing in your cart.</em>
        </div>
        } else {

            @form(routes.PaymentController.processPayment) {
            <div>


                <table class="computers zebra-striped">
                    <thead>
                        <tr>
                            <td>
                                Room Number
                            </td>
                            <td>
                                Date And Time
                            </td>
                            <td>
                                Action
                            </td>
                        </tr>
                    </thead>

                    <tbody>

                    @for((key, appointment) <- appointmnets) {
                    <tr>
                        <td><a href="#">@appointment.getRoom().getId()</a></td>
                        <td>@appointment.getStartTime().format("dd MMM yyyy hh mm") - @appointment.getEndTime().format("dd MMM yyyy hh mm") </td>
                        <td><input type="hidden" name="appointment_id" value="@appointment.getId()" /> <a class="btn btn-danger" href="@routes.AppointmentController.delete(appointment.getRoom().getId())"> Delete </a></td>
                    </tr>
                    }
                    </tbody>
                </table>
             </div>

            <input type="hidden" name="totalamount" value="@{total * 20}" id = "totalamount" />
            <fieldset>
                <legend>Payment Process Information</legend>
                @inputText(paymentForm("creditCardNo"), '_label -> "Credit Card No.")
                @inputText(paymentForm("fullName"), '_label -> "Full Name")
                @inputText(paymentForm("amount"), '_label -> "Amount", 'disabled -> "True")
            </fieldset>

            <div class="actions">
                <input type="submit" value="Checkout" class="btn primary"> or
                <a href="@routes.ApplicationController.index()" class="btn">Cancel</a>
            </div>
            }

        }
}
<script src="@routes.Assets.at("javascripts/cart.js")" type="text/javascript"></script>














