@(appointmnets: Map[String, Appointment], paymentForm: Form[Payment], total: Long)

@import helper._
@import models._


@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }
@main("") {
    <h1>Checkout</h1>

    @if(total == 0) {

        <div class="well">
            <em>Nothing in your cart.</em>
        </div>
        } else {

            @form(routes.PaymentController.processPayment) {
            <div>


                <table class="computers zebra-striped">
                    <thead>
                        <tr>
                            <td>
                                Room Number
                            </td>
                            <td>
                                Date And Time
                            </td>
                            <td>
                                Action
                            </td>
                        </tr>
                    </thead>

                    <tbody>

                    @for((key, appointment) <- appointmnets) {
                    <tr>
                        <td><a href="#">@appointment.getRoom().getId()</a></td>
                        <td>@appointment.getSchedule().getStartTime().format("dd MMM yyyy") + "-" + @appointment.getSchedule().getEndTime().format("dd MMM yyyy") </td>
                        <td><input type="hidden" name="appointment_id[]" value="@appointment.getId()" /> <a class="btn btn-danger" href="@routes.AppointmentController.delete(appointment.getRoom().getId())"> Delete </a></td>
                    </tr>
                    }
                    </tbody>
                </table>
             </div>

            <fieldset>
                <legend>Payment Process Information</legend>
                @inputText(paymentForm("creditCardNo"), '_label -> "Credit Card No.")
                @inputText(paymentForm("fullName"), '_label -> "Full Name")
                @inputText(paymentForm("amount"), '_label -> "Total Amount")
            </fieldset>

            <div class="actions">
                <input type="submit" value="Checkout" class="btn primary"> or
                <a href="@routes.Application.index()" class="btn">Cancel</a>
            </div>
            }

        }
}















