@(appointmnets: Map[String, Appointment], paymentForm: Form[Payment], total: Long)

@import helper._
@import models._


@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }
@main("") {
    <h1>Checkout</h1>

    @if(total == 0) {

        <div class="well">
            <em>Nothing to display</em>
        </div>

        } else {
            @form(routes.PaymentController.processPayment) {
            <div>


                <table class="computers zebra-striped">
                    <thead>
                        <tr>
                            <td>
                                Doctor Name
                            </td>
                            <td>
                                Date And Time
                            </td>
                            <td>
                                Action
                            </td>
                        </tr>
                    </thead>

                    <tbody>

                    @for((key, appointment) <- appointmnets) {
                    <tr>
                        <td><a href="#">1</a></td>
                        <td>@appointment.getCreateDate().format("dd MMM yyyy")</td>
                    </tr>
                    }
                    </tbody>
                </table>
             </div>

            <fieldset>
                <legend>Payment Process Information</legend>
                @inputText(paymentForm("creditCardNo"), '_label -> "Credit Card No.")
                @inputText(paymentForm("fullName"), '_label -> "Full Name")
                @inputText(paymentForm("amount"), '_label -> "Total Amount")
            </fieldset>

            <div class="actions">
                <input type="submit" value="Checkout" class="btn primary"> or
                <a href="@routes.Application.index()" class="btn">Cancel</a>
            </div>
            }

        }
}















