@(appointmentForm: Form[Appointment])

@import helper._
@import models._


@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 
@main("Create Appointment"){      
    <h1>Add an Appointment</h1>
    @form(routes.AppointmentController.save()) {
        
        <fieldset>
             @*@select(appointmentForm("meetingType"), 
            	models.MeetingType.values.toList.map(v => (v.toString, Messages(v.toString()))), 
            		'_label -> "Meeting Type")
           
            select(appointmentForm("user"), 
            		options(("Doctor 1","Doctor 2")), 
            		'_label -> "Select Doctor")*@
            @select(appointmentForm("schedule"), 
            		options(Schedule.options), 
            		'_label -> "Select Schedule")
            @*
            @inputText(appointmentForm("credit card"), 
            		'_label -> "Enter Credit card number")*@ 				
            				
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this appointment" class="btn primary"> or 
            <a href="@routes.AppointmentController.list()" class="btn">Cancel</a> 
        </div>       
    }   
}