@(doctors: Map[String, String], total: Long)

@import helper._
@import models._


@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }
@main("") {
    <h1>Doctor List</h1>

    @if(total == 0) {

        <div class="well">
            <em>No doctor available in the system.</em>
        </div>
        } else {

            <div>
                <table class="computers zebra-striped">
                    <thead>
                        <tr>
                            <td>
                                User ID
                            </td>
                            <td>
                                User Name
                            </td>
                            <td>
                                Action
                            </td>
                        </tr>
                    </thead>

                    <tbody>

                    @for((id, username) <- doctors) {
                    <tr>
                        <td><a href="#">@id</a></td>
                        <td>@username </td>
                        <td><a class="btn btn-success" href="@routes.UserController.convertRole(id)"> Work As Doctor </a></td>
                    </tr>
                    }
                    </tbody>
                </table>
             </div>
        }
}















