@(id: Long, appointmentForm: Form[Appointment], appointment:Appointment)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 
    
@main("Edit Appointment"){    
<script src="@routes.Assets.at("javascripts/appointment.js")" type="text/javascript"></script>
    @form(routes.AppointmentController.update(id)) {
        <fieldset>
            @select(appointmentForm("schedule.meetingType"), 
            	models.MeetingType.values.toList.map(v => (v.toString, Messages(v.toString()))), 
            		'_label -> "Meeting Type", 'id -> "meetingType")
            @select(appointmentForm("schedule.user.id"), 
            		options(User.findByUserRole(UserRole.DOCTOR)), 
            		'_label -> "Select Doctor", 'id -> "doctor")
            @select(appointmentForm("schedule.id"), 
            		options(Schedule.findByType(appointment.getMeetingType())), 
            		'_label -> "Select Schedule", 'id -> "schedule")		
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this appointment" class="btn primary"> or 
            <a href="@routes.AppointmentController.list()" class="btn">Cancel</a> 
        </div>       
    }
    
    @form(routes.AppointmentController.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this appointment" class="btn danger">
    }
}    
