@(currentPage: Page[Schedule], currentSortBy: String, currentOrder: String, currentFilter: String)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.ScheduleController.list(newPage, sortBy, order, currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main("Schedules List"){    
    <div class="span12 clear">
        <a class="btn success" id="add" href="@routes.ScheduleController.create()">Add a new schedules</a>
    </div>
    <br>
    &nbsp;
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="schedules zebra-striped">
            <thead>
                <tr>
                    @header("id", "schedule id")
                    @header("date", "Date")
                    @header("startTime", "Start Time")
                    @header("endTime", "End Time")
                    @header("type", "Schedule Type")
                </tr>
            </thead>
            <tbody>

                @for(schedule <- currentPage.getList) {
                    <tr>
                        <td><a href="@routes.ScheduleController.edit(schedule.getId())">@schedule.getId()</a></td>
                        <td>
                        	@schedule.getStartTime().format("dd MMM yyyy")
                        </td>
                        <td>
                            @if(schedule.getStartTime() == null) {
                                <em>-</em>
                            } else {
                                @schedule.getStartTime().format("HH:mm:ss")
                            }
                        </td>
                        <td>
                            @if(schedule.getEndTime() == null) {
                                <em>-</em>
                            } else {
                                @schedule.getEndTime().format("HH:mm:ss")
                            }
                        </td>
                        <td>@schedule.getMeetingType().toString()</td>
                    </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }
}

            