@(currentPage: Page[Appointment], currentSortBy: String, currentOrder: String, currentFilter: String)

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        @title
    </th>
}

@main("Appointments List"){    
    <div id="actions" class="clear span12">
        
        <a class="btn success" id="add" href="@routes.AppointmentController.create()">Add a new Appointment</a>
        
    </div>
    <br>
    &nbsp;
    <div class="clear span12">
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="schedules zebra-striped">
            <thead>
                <tr>
                    @header("id", "appointment id")
                    @header("appointment_date", "Appointment date")
                    @header("appointment_time", "Appointment Time")
                    @header("appointment_type", "Appointment Type")
                    @header("is_paid", "Payment Status")
                    @header("room_no", "Room No")
                </tr>
            </thead>
            <tbody>

                @for(appointment <- currentPage.getList) {
                    <tr>
                        <td>
                        @if(appointment.getPayment() != null){
                        	@appointment.getId()
                        }else {
                        	<a href="@routes.AppointmentController.edit(appointment.getId())">@appointment.getId()</a>
                        }
                        </td>
                        <td>@appointment.getAppointmentDate().format("MM/dd/yyyy")</td>
                        <td>
                        @appointment.getStartTime().format("HH:mm") -
                        @appointment.getEndTime().format("HH:mm")
                        </td>
                        <td>@appointment.getMeetingType()</td>
                        <td>@if(appointment.getPayment() != null){Paid}else{Not paid}</td>
                        <td>@appointment.getRoom().getId()</td>
                    </tr>
                }

            </tbody>
        </table>

    }
    </div>
}

            