@( loginForm: Form[User])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main(""){

    @form(routes.Authentication.loginFormProcess()) {

        <fieldset>
            <legend>Login</legend>
            @inputText(loginForm("username"))
            @inputPassword(loginForm("password"))
        </fieldset>

        <div class="actions">
            <input type="submit" value="Login" class="btn primary"> OR
            <a href="@routes.Application.index()" class="btn">Back</a>
        </div>
    }
}