@(RegistrationFrom: Form[User])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 
@main(""){
    <h1>Patient Registration</h1>
    @form(routes.Registration.submit) {

        <fieldset>

            <legend>Login Information</legend>

            @inputText(RegistrationFrom("username"), '_label -> "Username")
            @inputPassword(RegistrationFrom("password"),
            '_label -> "Password",
            '_help -> "A password must be at least 6 characters. "
            )

            @inputPassword(RegistrationFrom("repeatPassword"),
            '_label -> "Repeat password",
            '_help -> "Please repeat your password again.",
            '_error -> RegistrationFrom.error("password")
            )

        </fieldset>
        
        <fieldset>
            <legend>Details</legend>


            @inputText(RegistrationFrom("Patient.birthday"), '_label -> "Birth Date")
            @inputText(RegistrationFrom("Patient.health_card_no"), '_label -> "Health Card Number.")
            @inputText(RegistrationFrom("Patient.phone_numbere"), '_label -> "Phone Number")
            @select(RegistrationFrom("Patient.gender"),
                    options = options("M"->"Male","F"->"Female"),
                    '_label -> "Gender"
                    )
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save" class="btn primary"> or
            <a href="@routes.Application.index()" class="btn">Cancel</a>
        </div>       
    }   
}